* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* HEADER */

.header > .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
}

.header-logo > img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.header-content > .header-action {
  display: flex;
  align-items: center;
}

.header-content .header-access {
  padding: 4px 8px;
  border: 1px solid #ff8c00;
  border-radius: 4px;
  color: #ff8c00;
  font-size: 14px;
  font-weight: 600;
}

.header-content .header-access .fa {
  margin-right: 16px;
}

.header-content .header-logout {
  font-size: 22px;
  color: #ff8c00;
  margin-left: 24px;
}

.header > .header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background: #ff8c00;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.header-navbar .navbar-link {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 20px 16px;
  flex-shrink: 0;
}

.header-navbar .navbar-link .navbar-icon {
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 9999px;
  color: #ff8c00;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  flex-shrink: 0;
  margin-right: 8px;
}

/* MAIN */

.main {
  display: flex;
  align-items: flex-start;
  padding: 20px 32px;
}

.main-sidebar {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  max-width: 350px;
  border-radius: 4px;
  flex-grow: 1;
}

.main-sidebar > .sidebar-content {
  padding: 18px 32px;
}

.main-sidebar > .sidebar-content img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 12px;
}

.main-sidebar > .sidebar-content span {
  display: block;
  font-weight: 600;
  font-size: 14px;
}

.main-sidebar > .sidebar-content span + span {
  margin-top: 4px;
}

.main-sidebar > .sidebar-content .more-informations {
  display: flex;
  margin-top: 4px;
  text-decoration: none;
  color: #ff8c00;
}

.sidebar-content .more-informations span {
  text-decoration: underline;
}

.sidebar-content .more-informations .fa {
  margin-left: 8px;
}

.sidebar-nav {
  padding-bottom: 32px;
}

.sidebar-nav .navbar-item .navbar-label {
  padding: 12px 16px 12px 32px;
  color: gray;
  display: flex;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.sidebar-nav .navbar-item .navbar-label .fa-angle-down {
  color: #ff8c00;
  transition: 0.2s ease-in-out;
}

.sidebar-nav .navbar-item .navbar-label:hover,
.sidebar-nav .navbar-item .navbar-label.is-open {
  background: #ff8c00;
  color: white;
}

.sidebar-nav .navbar-item .navbar-label:hover .fa-angle-down,
.sidebar-nav .navbar-item .navbar-label.is-open .fa-angle-down {
  color: white;
}

.sidebar-nav .navbar-item .navbar-label.is-open .fa-angle-down {
  transform: rotate(180deg);
}

.navbar-item .navbar-label .navbar-icon {
  background: #ffd7a7;
  width: 28px;
  height: 28px;
  color: #ff8c00;
  font-size: 14px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.navbar-item .navbar-label .fa-angle-down {
  margin-left: auto;
}

.navbar-item .navbar-submenu {
  background: #eee;
  display: none;
}

.navbar-item .submenu-item {
  display: flex;
  align-items: center;
  padding: 12px 16px 12px 52px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.2s ease-in-out;
}

.navbar-item .submenu-item:hover {
  background: #ffa231;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
}

.navbar-item .submenu-item:hover .fa-angle-right {
  opacity: 1;
  visibility: visible;
}

.navbar-item .submenu-item:hover .submenu-id,
.navbar-item .submenu-item:hover .submenu-type,
.navbar-item .submenu-item:hover .submenu-type strong {
  color: white;
}

.navbar-item .submenu-item .submenu-icon {
  background: #ffd7a7;
  width: 28px;
  height: 28px;
  color: #ff8c00;
  font-size: 14px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.navbar-item .submenu-item .submenu-id {
  color: #0fc0fc;
  transition: color 0.2s ease-in-out;
}

.navbar-item .submenu-item .submenu-type {
  color: gray;
  margin-left: 48px;
  transition: color 0.2s ease-in-out;
}

.navbar-item .submenu-item .submenu-type strong {
  color: black;
  transition: color 0.2s ease-in-out;
}

.navbar-item .submenu-item .fa-angle-right {
  margin-left: auto;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}

.main-section {
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  flex-grow: 1;
  margin-left: 24px;
}

.main-section > .section-header {
  margin: 0;
  padding: 16px 24px;
  font-size: 16px;
  color: gray;
  font-weight: 400;
}

.main-section > .section-header .fa {
  color: #ff8c00;
  margin-right: 12px;
}

.main-section > .section-bar {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 32px;
}

.main-section > .section-bar .section-title {
  margin: 0;
  font-size: 16px;
  color: #ff8c00;
}

.main-section > .section-bar .section-actions {
  display: flex;
  align-items: center;
}

.section-bar .section-actions .action-save {
  border: 1px solid #ff8c00;
  border-radius: 4px;
  color: #ff8c00;
  background: none;
  padding: 4px 24px;
}

.section-bar .section-actions .fa-angle-up {
  color: #ff8c00;
  margin-left: 16px;
  font-size: 20px;
}

.main-section .section-form {
  padding: 16px 32px;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.form-group {
  display: flex;
  flex-flow: column wrap;
}
.form-group1 {
  display: flex;
  flex-flow: column wrap;
}

.form-label {
  font-weight: bold;
  font-size: 14px;
}
.form-label1 {
  font-weight: bold;
  font-size: 10.3px;
}

.form-control {
  height: 34px;
  border: 1px solid #ccc;
}

.form-group {
  width: calc((100% / 4) - 18px);
}
